langchain
python-dotenv
langchain_groq
langchain_google_genai
langchain_community
pypdf
faiss-cpu
structlog
PyMuPDF
pandas
streamlit
langchain-core[tracing]
fastapi
uvicorn
pydantic
python-multipart
motor
authlib
python-jose[cryptography]
scikit-learn
numpy
jwt